
body{
	background-color: #363f45; 
	font-family:sans-serif;
}

a {
	text-decoration: none;
	border: 1px solid #ccc;
	padding:5px;
	color: #E64A19;
	font-size: .8em;
	transition: .2s;
}

a:hover{
	color: #FF5722;
	font-size: 1em;
}

/* ================================================ header styles */

.header{
	margin:auto;
	margin-top: 20px;	
	width: 60%;
	background-color: #ffffcc;	
}

.header-element{
	width:25%;
	max-width:250px
}

/* ================================================ Navigation bar styles */

.nev{
	width:63%;
	height: 50px;
	margin:auto;
	background-color: #FF5722;
}

.nev_title{
	margin:auto;
	padding: 5px;
	color: #212121;
	font-weight: bold;
	height: 50px;
}

.nev ul{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	
}

.nev li{
	display: block;
	float:left;
	align-self: center;
}

.nev li a {
	display:inline-block;
	text-align:center;
	padding:15px;
	text-decoration:none;
	color:#212121;
	font-size:.9em;
	border: none;
	transition: 0.2s;

}

.nev li a:hover{
	background-color: #E64A19;
	color: #ffffcc;
	font-size: 1em;
}

/* ================================================== Container Styles */

.container{
	margin:auto;
	width: 60%;
	background-color: #ffffcc;
	transition: .3s;
	
}

.container-inside{
	padding: 10px;
}

.block{
	width: 60%;
	margin:auto;
}

.block_bordered{
	width: 60%;
	margin:auto;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px;
}

.block_reg_form{
	width: 60%;
	margin:auto;
	padding: 10px;
}

/* ================================================ Form */

input[type=text],select{
	width: 70%;
	padding: 8px 10px;
	margin:8px 0;
	display: inline-block;
	border:1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
}

input[type=password],select{
	width: 70%;
	padding: 8px 10px;
	margin:8px 0;
	display: inline-block;
	border:1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
}

input[type=submit],select{
	width: 70%;
	padding: 8px 10px;
	margin:8px 0;
	display: inline-block;
	border:1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	background-color: #E64A19;
	color: white;
	transition: .3s;
}

input[type=submit]:hover{
	background-color: #FF5722;
	border-radius: 6px;
}

.block_reg_form input[type=text],select{
	width: 40%;
	padding: 5px 8px;
}

.block_reg_form input[type=password],select{
	width: 70%;
	padding: 5px 8px;

}

.block_reg_form label{
	font-size: .9em;
}

